
logs
*.log
.env
venv
*.sock
db.sqlite3
__pycache__
.pytest_cache

# Ignorar todo en media
/media/*
# Asegurar que default_profile.png NO sea ignorado
!/media/usuario/default_profile.png

# tu repositorio y añade la siguiente línea para forzar que todos los archivos de migración usen LF
*.py text eol=lf