
logs
*.log
.env
venv
db.sqlite3
__pycache__
/media/areas-internado-rotatorio/*
# Ignorar todo en /media/usuario
/media/usuario/*
# Asegurar que default_profile.png NO sea ignorado
!/media/usuario/default_profile.png